<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator
                type="EditorsCopilot.Feature.ContentBuilder.Core.Configurators.ContentBuilderConfigurator, EditorsCopilot.Feature.ContentBuilder.Core" />
        </services>
        <events>
            <event name="item:added">
                <handler
                    type="EditorsCopilot.Feature.ContentBuilder.Core.GenerateContent, EditorsCopilot.Feature.ContentBuilder.Core"
                    method="OnItemAdded" />
            </event>
        </events>
        <commands>
            <command name="copilot:autogenerateitem"
                     type="EditorsCopilot.Feature.ContentBuilder.Core.Commands.AutoGenerateContentCommand, EditorsCopilot.Feature.ContentBuilder.Core" />
        </commands>
    </sitecore>
</configuration>